body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-family: Helvetica, sans-serif;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5vh;
    background: var(--s-gradient-2, linear-gradient(229deg, #0047FF 0%, #00BCD4 100%));
    text-align: center;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
nav{
    height: 5vh;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    padding: 0 30px 0 0;
    font-size: 17px;
    color: #848895;
}
.center{
    height: 450px;
    color: white;
    text-align: center;
}
h1{
    margin: 150px 0 0 0;
    font-size: 70px;
    font-weight: 400;
}
h2{
    margin: 0 0 50px 0;
    font-size: 68px;
    font-weight: 400;
}
.centerText{
    margin: 0 0 40px 0;
    font-size: 20px;
}
.buttonOne{
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    border-radius: 36px;
    border: 1px solid #000;
    background: var(--s-button, linear-gradient(152deg, #8C01FA 0%, #000 100%));
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    margin: 10px;
}
.buttonTwo{
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    border-radius: 36px;
    border: 1px solid #FFF;
    background: #000;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}
.text{
    color: #618ADC;
    display: flex;
    justify-content: center;
    font-size: 15px;
    text-transform: uppercase;
}
footer{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    padding: 0 20px 0 20px;
}
/*-------------------------------------------------------------------------------------------*/
.main {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 100px 300px 100px 300px;
}
.block{
    width: 1200px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start{
    margin: 0;
    width: 600px;
    height: 600px;
}
.join{
        margin: 55px 0 0 30px;
        color: white;
        font-size: 40px;
    }
.numbers{
    width: 600px;
    height: 600px;
}
.top{
    margin: 0 0 0 5px;
    font-size: 100px;
    background: linear-gradient(228deg, #19FB9B 0%, #8C01FA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.middle{
    margin: 40px 0 0 10px;
    font-size: 100px;
    background: var(--s-gradient-2, linear-gradient(229deg, #0047FF 0%, #00BCD4 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bottom{
    margin: 40px 0 0 10px;
    font-size: 100px;
    background: linear-gradient(222deg, #00FFBD 0%, #025B8C 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.textNumbers{
    margin: 0 0 50px 10px;
    color: #C4C4C4;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}
.make{
    width: 280px;
    margin: 5px 0 0 30px;
    font-size: 39px;
}
.live{
    margin: 5px 0 0 30px;
    color: #C4C4C4;
    font-size: 16px;
    text-transform: uppercase;
}
.section{
    margin: 100px 0 0 0;
    display: flex;
    justify-content: space-around;
    color: white;
}
.title{
    margin: 0 0 10px 0;
    font-size: 28px;
}
.sectionText{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #C4C4C4;
    font-size: 16px;
    text-transform: uppercase;
}
.oneText, .twoText, .threeText, .fourText{
    color: #C4C4C4;
    font-size: 18px;
    padding: 3px;
}
.point{
    margin: 0 0 10px 0;
    font-size: 25px;
}
.one, .two, .three, .four{
    width: 350px;
    height: 250px;
    border-radius: 24px;
    text-align: left;
    padding: 30px;
    line-height: 25px;
}
.fourA{
    margin: 0;
    color: #19FB9B;
    text-decoration: underline;
}
.three{
    position: relative;
    width: 350px;
    height: 200px;
}
.threeThree{
    position: absolute;
    top: -40px;
}
.oneTwo{
    margin: 0 0 0 80px;
}